/******************************************************************************/
/*	                     		Application: RICMessenger Copyright(C)            */
/******************************************************************************/
/*									      	                                                	*/
/*			        Fichier :  style.css	                                				*/                                       	
/*									                                                      		*/
/*		          Auteurs : REYGROBELLET -	BRES -	PELISSON                    */
/*									    		                                                  */
/*                 Date : 8/04/2019                                           */
/******************************************************************************/

html {
  font-family: sans-serif;
}

h1{
  text-align: center;
  font-weight: 200;
  cursor: pointer;
}
h6{
  font-weight: 300;
}
textarea{
  border-radius: 0rem 0rem .25rem .25rem !important;
}

.container{
  width: 100%;
  max-width: 100%;
}

.main{
  margin:30px;
}
.center{
  margin: auto;
}

.row2 .col-lg-12{
  display: flex;
}

.row2 .mb-3{
  padding-right: 15px;
}
.mb-3, .my-3 {
  margin-bottom: 0rem!important;
}
.modal-content{
  z-index: 1111;
}
.nav-tabs {
  border:0;
}
.nav-tabs .nav-link {
  border-bottom: 0 !important;
  background-color: #fff0 !important;
  color: #343a40;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
}

.nav-tabs .nav-link.active {
  color: #007bff;
}

.nav-tabs .nav-link:hover {
    border-color: #fff0;
    background-color: #e9ecef82 !important;
}

#joincnl{
  width: 49%;
  color: #007bff;
  border-color: #007bff;
}
#crtchnl{
  width: 49%;
  float: right;
}

#sndMsg{
  background-color: #007bff;
  border-color: #007bff;
}

.nav-tabs .close {
  margin: 2px 0 0 0px;
  font-size: 18px;
}

[type=button]:not(:disabled):focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus,.form-control:focus{
   outline: none !important;
   box-shadow: none;
}

/*  USER CONNECTED  */
.card-text{
    margin: 0;
}

.card-body{
  padding: 1.25rem 1.25rem 0rem;
}

.row4 ul {
  list-style: none; /* Remove default bullets */
}

.row4 ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #2ecc71; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
}

/*  LEFT COL : CONV  */
#conv, #files{
  margin-top: 72px;
  margin-bottom: 20px;
}

/* MODAL */
.modal .col{
  display: flex;
}

.modal input{
  margin-right: 15px;

}

#chnlmodal input, #chnlmodal label{
  margin-right: 0;
  margin-bottom: 0;
}

#list-tab .close{
  color: red;
  opacity: 0.7;
}

@media only screen and (max-width: 767px) {
  #conv{
    margin-top: 0px;
  }
}

.badge-success{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

#usern .fas{
  padding-left: 8px;
}

#usern{
  cursor: pointer;
}

#channeljnname{
  max-width: 135px;
}
.token{
  display: inline;
}

#tokenShow{
  text-align: center;
  font-size: xx-large;
  color: #5d5d5d;
  background-color: white;
}
#copyToken{
  display: none;
}
.cpyBtn{
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
